/* styles.css */

/* Add styles here to customize the appearance of your app */
#login {
    display: none;
}

.note {
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lemonchiffon;
    padding: 8px;
    max-width: 500px;
    float: left;
}