@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
$theme-colors: ( "primary": #012030, "secondary": #13678A, "danger": #9AEBA3);
$body-bg: #DAFDBA;
$body-color: #111;
@import "../node_modules/bootstrap/scss/bootstrap";